.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-text-1);
  background: var(--gradient-app);
}

.body {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.workspace {
  flex: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-bg-canvas);
}

.main {
  flex: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
